<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yhren.Dao.Interface.LeasseRecordMapper" >
  <resultMap id="BaseResultMap" type="com.yhren.Dao.Bean.LeasseRecord" >
    <id column="lease_id" property="leaseId" jdbcType="INTEGER" />
    <result column="lease_mar" property="leaseMar" jdbcType="INTEGER" />
    <result column="lease_com" property="leaseCom" jdbcType="INTEGER" />
    <result column="lease_price" property="leasePrice" jdbcType="DOUBLE" />
    <result column="lease_create_time" property="leaseCreateTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    lease_id, lease_mar, lease_com, lease_price, lease_create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from lease_record
    where lease_id = #{leaseId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from lease_record
    where lease_id = #{leaseId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yhren.Dao.Bean.LeasseRecord" >
    insert into lease_record (lease_id, lease_mar, lease_com, 
      lease_price, lease_create_time)
    values (#{leaseId,jdbcType=INTEGER}, #{leaseMar,jdbcType=INTEGER}, #{leaseCom,jdbcType=INTEGER}, 
      #{leasePrice,jdbcType=DOUBLE}, #{leaseCreateTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yhren.Dao.Bean.LeasseRecord" >
    insert into lease_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="leaseId != null" >
        lease_id,
      </if>
      <if test="leaseMar != null" >
        lease_mar,
      </if>
      <if test="leaseCom != null" >
        lease_com,
      </if>
      <if test="leasePrice != null" >
        lease_price,
      </if>
      <if test="leaseCreateTime != null" >
        lease_create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="leaseId != null" >
        #{leaseId,jdbcType=INTEGER},
      </if>
      <if test="leaseMar != null" >
        #{leaseMar,jdbcType=INTEGER},
      </if>
      <if test="leaseCom != null" >
        #{leaseCom,jdbcType=INTEGER},
      </if>
      <if test="leasePrice != null" >
        #{leasePrice,jdbcType=DOUBLE},
      </if>
      <if test="leaseCreateTime != null" >
        #{leaseCreateTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yhren.Dao.Bean.LeasseRecord" >
    update lease_record
    <set >
      <if test="leaseMar != null" >
        lease_mar = #{leaseMar,jdbcType=INTEGER},
      </if>
      <if test="leaseCom != null" >
        lease_com = #{leaseCom,jdbcType=INTEGER},
      </if>
      <if test="leasePrice != null" >
        lease_price = #{leasePrice,jdbcType=DOUBLE},
      </if>
      <if test="leaseCreateTime != null" >
        lease_create_time = #{leaseCreateTime,jdbcType=VARCHAR},
      </if>
    </set>
    where lease_id = #{leaseId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yhren.Dao.Bean.LeasseRecord" >
    update lease_record
    set lease_mar = #{leaseMar,jdbcType=INTEGER},
      lease_com = #{leaseCom,jdbcType=INTEGER},
      lease_price = #{leasePrice,jdbcType=DOUBLE},
      lease_create_time = #{leaseCreateTime,jdbcType=VARCHAR}
    where lease_id = #{leaseId,jdbcType=INTEGER}
  </update>
</mapper>