<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Dao.Interface.CompanyBasicMapper" >
    <resultMap id="comMap" type="Dao.Entity.Bean.CompanyBasic">
        <result property="companyId" column="company_id"/>
        <result property="companyName" column="company_name"/>
        <result property="companyPath" column="company_path"/>
        <result property="companyContacts" column="company_contacts"/>
        <result property="companyTel" column="company_tel"/>
        <result property="companyPass" column="company_pass"/>
        <result property="companyCreateTime" column="company_create_time"/>
    </resultMap>

    <sql id="comMapSql">
        company_id,company_name,company_path,company_contacts,company_contacts,company_tel,company_pass,company_create_time from company_basic
    </sql>

    <select id="selectById" resultMap="comMap">
        select
        <include refid="comMapSql"/>
        where company_id = #{id}
    </select>

    <select id="selectByName" resultMap="comMap">
        select
        <include refid="comMapSql"/>
        <if test="name!=null and name!=''">
            where company_name like concat('%',#{name},'%') or company_contacts like concat('%',#{name},'%') or company_path like concat('%',#{name},'%') or company_id like concat('%',#{name},'%')
        </if>
    </select>

    <insert id="insert">
        insert into company_basic(company_name,company_path,company_contacts,company_tel,company_create_time) value(#{company.companyName},#{company.companyPath},#{company.companyContacts},#{company.companyTel},#{company.companyCreateTime})
    </insert>

    <delete id="delete">
        delete from company_basic where company_id = #{id}
    </delete>

    <update id="update">
        update company_basic set company_Name = #{entity.companyName}, company_path = #{entity.companyPath}, company_contacts = #{entity.companyContacts}, company_tel = #{entity.companyTel}, company_create_time = #{entity.companyCreateTime}
        where company_id = #{entity.companyId}
    </update>
</mapper>